<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unauthorized</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
        .center {
            width: 700px;
            margin: 200px auto auto auto;
        }
        .code {
            font-size: 120px;
            margin-bottom: 50px;
        }
        .text {
            font-size: 30px;
            margin-bottom: 40px;
        }
        .home_button {
            font-size: 19px;
        }
    </style>
    <script>
        function to_main() {
            window.location.href = "/"
        }
    </script>
</head>
<body>
<div class="center">
    <div class="code">
        <h1 class="code">401</h1>
    </div>
    <div class="text">
      <p>인증되지 않았습니다. 로그인이 필요합니다.</p>
    </div>
    <button onclick="to_main()" type="button" class="btn btn-light, home_button">메인으로 돌아가기</button>
</div>
</body>
</html>