<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta charset="UTF-8">
  <title>회원가입 페이지</title>
  <script>

    function onclickRegister() {
        let username = $('#username').val();
        let password = $('#password').val();
        let password_check = $('#password').val();

        if ( !isVaidUsername(username) ) {
          alert("닉네임은 3자리 이상 문자, 숫자로 구성하여야 합니다.");
        } else if ( !isValidPassword(username, password) ) {
          alert("비밀번호는 4자리 이상이며 닉네임을 포함할 수 없습니다..")
        } else if ( !passwordIsChecked(password, password_check) ) {
          alert("비밀번호가 일치하지 않습니다.");
        } else {
          let data = {'username': username, 'password': password};

          $.ajax({
            type: 'POST',
            url: '/account/register',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (response) {
              window.location.replace("/account/login");
            },
            error: function (request, status, error) {
              alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
          })
        }
    }

    function isVaidUsername(username) {
      var pattern1 = /^[a-zA-z0-9]*$/g;
      return !(!pattern1.test(username) || username.length < 3);
    }

    function isValidPassword(username, password) {
      return !(password.includes(username) || password.length < 4);
    }

    function passwordIsChecked(password, password_check) {
      return password == password_check;
    }
  </script>
</head>
<body>
<div id="login-form">
  <div id="login-title">Sign up</div>
    <div class="login-id-label">닉네임</div>
    <input type="text" id="username" placeholder="Username" class="login-input-box">

    <div class="login-id-label">비밀번호</div>
    <input type="password" id="password" class="login-input-box">

    <div class="login-id-label">비밀번호 확인</div>
    <input type="password" id="password-check" class="login-input-box">

    <button id="login-id-submit" onclick="onclickRegister()">회원 가입</button>
</div>
</body>
</html>